{% extends 'base.html'%}
<!-- load static -->
{% load static %}
<!-- block content -->
{% block content %}
<section class="question-page">
  <div class="question-page__title">{{topic}}</div>
  <div class="question-page__body">
    <div class="question-page-content">
      <form method="POST" id="questionForm">
        {% csrf_token %}
        <!-- variable -->
        <!-- {{ questionList|json_script:'name' }} -->
        <!--  -->
        <!-- {{ noOfQuestions|json_script:'noOfQuestions' }} -->
        <!--  -->
        <!-- {{ currentQuestion|json_script:'currentQuestion' }} -->

        <span class="questionNumber">{{ currentQuestion }}</span>
        <span class="question-page-content__questions"
          >{{ currentQuestion.question }}</span
        >
        <div class="question-page-content__optionParent">
          <div class="question-page-content__options">
            <input
              type="radio"
              name="option"
              class="option"
              value="{{currentQuestion.option1}}"
            />
            <p>{{currentQuestion.option1}}</p>
          </div>
          <div class="question-page-content__options">
            <input
              type="radio"
              name="option"
              class="option"
              value="{{currentQuestion.option2}}"
            />
            <p>{{currentQuestion.option2}}</p>
          </div>

          <div class="question-page-content__options">
            <input
              type="radio"
              name="option"
              class="option"
              value="{{currentQuestion.option3}}"
            />
            <p>{{currentQuestion.option3}}</p>
          </div>
          <div class="question-page-content__options">
            <input
              type="radio"
              name="option"
              class="option"
              value="{{currentQuestion.option4}}"
            />
            <p>{{currentQuestion.option4}}</p>
          </div>
        </div>
        <input
          type="hidden"
          class="correctAnswer"
          value="{{currentQuestion.answer}}"
        />
        <button
          type="button"
          class="question-page-content__submit"
          name="submit"
        >
          <a href=""> next </a>
        </button>
      </form>
    </div>
    <div class="question-page__question-list">
      <div class="question-page__each-question__time">
        <p>Time</p>
        <div class="exact-time">00 mins:58 sec</div>
      </div>
      <div class="question-page__each-questionNo-parent">
        <p>Question Palatte:</p>
        <div class="question-page__each-question__no">
          <!-- questions button child list -->
        </div>
      </div>
      <div class="question-page__instruction">
        <div class="question-page__instruction1">
          <button></button>
          <p>Answered</p>
        </div>
        <div class="question-page__instruction2">
          <button></button>
          <p>Not Visited</p>
        </div>
        <div class="question-page__instruction3">
          <button></button>
          <p>Not Answered</p>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  // getting list of questions in sessionStorage
  const questionListString = JSON.parse(sessionStorage.getItem("questionList"));

  const ListOfquestion = JSON.parse(questionListString);
  console.log("ListOfquestion", ListOfquestion);

  // getting no of questions in Array
  var noOfQuestions = ListOfquestion.length;

  // started creating questions button (side option to select questions):
  var question_page_Parent = document.querySelector(
    ".question-page__each-question__no"
  );
  for (let i = 0; i < noOfQuestions; i++) {
    var button = document.createElement("button");
    button.classList = `button button-${i + 1}`;
    button.innerHTML = i + 1;
    question_page_Parent.appendChild(button);
  }
  // end creating questions button:

  var questionNumber = document.querySelector(".questionNumber");
  var currentQuestionNumber = 0;
  var questionsContainer = document.getElementsByClassName(
    "question-page-content__questions"
  )[0];
  var optionContainer = document.querySelectorAll(
    ".question-page-content__options p"
  );
  var optionValue = document.querySelectorAll(
    ".question-page-content__options .option"
  );
  var correctAnswer = document.querySelector(".correctAnswer");
  var submitButton = document.querySelector(".question-page-content__submit a");
  var resultDetails = [];
  var selectedOption = null;
  // console.log(questionList);

  function questionRender(eachQuestion) {
    if (currentQuestionNumber < ListOfquestion.length) {
      questionsContainer.innerHTML = eachQuestion.question;
      questionNumber.innerHTML = currentQuestionNumber + 1;
      correctAnswer.value = eachQuestion.answer;
      for (let i = 0; i <= 3; i++) {
        optionContainer[i].innerHTML = eachQuestion[`option${i + 1}`];
        optionValue[i].value = eachQuestion[`option${i + 1}`];
        var value = eachQuestion[`option${i + 1}`];
      }
      var option = document.getElementsByName("option");
      for (let i = 0; i < option.length; i++) {
        option[i].checked = false;
      }
    } else {
      console.log("hellohello");
      sessionStorage.setItem("resultDetails", JSON.stringify(resultDetails));
    }

    if (currentQuestionNumber < ListOfquestion.length - 1) {
      submitButton.innerHTML = "next";
    } else if (currentQuestionNumber == ListOfquestion.length - 1) {
      submitButton.innerHTML = "submit";
    }
  }

  // // first rendering of question details list page

  questionRender(ListOfquestion[currentQuestionNumber]);

  // on click next button

  submitButton.addEventListener("click", (event) => {
    event.preventDefault();

    if (currentQuestionNumber == ListOfquestion.length - 1) {
      var stringFormResult = JSON.stringify(resultDetails);
      location.pathname = "mcq/resultPage/";
    }

    var question = document.getElementsByClassName(
      "question-page-content__questions"
    )[0].innerHTML;

    var option = document.getElementsByName("option");
    for (let i = 0; i < option.length; i++) {
      if (option[i].checked) {
        selectedOption = option[i].value;
      }
    }
    var correctAnswer =
      document.getElementsByClassName("correctAnswer")[0].value;

    // creating object for currect question ,selected option and answer

    currentQuestionDetails = {
      question: question,
      selectedOption: selectedOption,
      correctAnswer: correctAnswer,
    };
    resultDetails.push(currentQuestionDetails);
    console.log(resultDetails);
    currentQuestionNumber++;
    questionRender(ListOfquestion[currentQuestionNumber]);
  });
</script>
{% endblock %}
