{% extends 'base.html'%}
<!-- load static -->
{% load static %}
<!-- block content -->
{% block content %}
<section class="resultPage">
  <div class="result__title">Data types:</div>
  <div class="resultPage__body">
    <div class="resultPage__body_list">
      <p>Test Instructions:</p>
      <ul>
        <li>No of Correct Answer:{{correctCount}}</li>
        <li>No of Wrong Answer:{{wrongCount}}</li>
        <li>No of Questons Skipped:{{skippedCount}}</li>
      </ul>
    </div>
    <div class="resultPage__body_image">
      <div class="resultPage_value">{{percentage}}%</div>
      <div class="resultPage__body_circle"></div>
    </div>
  </div>
  <div class="back_button">
    <span class="material-symbols-outlined"> arrow_back </span>
  </div>
  <script>
    const resultDetails = JSON.parse(sessionStorage.getItem("resultDetails"));

    console.log(resultDetails);

    window.addEventListener("popstate", function (event) {
      window.location.replace("mcq/home");
      console.log("Back button clicked or history changed.");
      // You can perform actions here when the back button is clicked.
    });
  </script>
</section>
{% endblock %}
