{% extends 'base.html'%}
<!-- load static -->
{% load static %}
<!-- block content -->
{% block content %}
<div class="instruction-page">
  <div class="instruction-page__content">
    <!-- <p>{{questionList}}</p> -->
    {{ questionList | json_script:"questionList" }}
    <div class="instruction-page__title">{{topic}}:</div>
    <div class="instruction-page__content_details">
      <p>Test Instructions</p>
      <ul>
        <li>Total Number of Questions: {{noQuestions}}</li>
        <li>Each Questions carries 1 mark</li>
        <li>Time Alloted: {{time}} minutes</li>
      </ul>
      <button>
        <a href="{%url 'questionPage' languageTopic=topic %}">Start Test</a>
        <!-- <a href="{% url 'questionsPart' languageTopic=topic %}">Start Test</a> -->
      </button>
    </div>
  </div>
  <div class="instruction-page_image">
    <img src="{% static 'image/testInstruction.svg' %}" alt="" />
  </div>
</div>

<script>
  // getting data from template and stored in variable questionListObject
  var questionListObject = document.getElementById("questionList").outerText;
  // storing received object as string sessionStorage
  sessionStorage.setItem("questionList", JSON.stringify(questionListObject));
  const questionListString = JSON.parse(sessionStorage.getItem("questionList"));
  const questionObject = JSON.parse(questionListString);
  console.log(questionObject);
</script>
{% endblock %}
