{% extends 'base.html'%}
<!-- load static -->
{% load static %}
<!-- block content -->
{% block content %}
<div class="instruction-page">
  <div class="instruction-page__content">
    <!-- <p>{{questionList}}</p> -->
    {{ questionList | json_script:"questionList" }}
    <div class="instruction-page__title">{{topic}}:</div>
    <div class="instruction-page__content_details">
      <p>Test Instructions</p>
      <ul>
        <li>Total Number of Questions: {{noQuestions}}</li>
        <li>Each Questions carries 1 mark</li>
        <li>Time Alloted: {{time}} minutes</li>
      </ul>
      <button><a href="{%url 'questionPage' %}">Start Test</a></button>
    </div>
  </div>
  <div class="instruction-page_image">
    <img src="{% static 'image/testInstruction.svg' %}" alt="" />
  </div>
</div>

<script>
  console.log("Hello javascript");
  sessionStorage.setItem("questionList", questionList);
  // console.log(JSON.stringify(questionList));
  const questionListString = JSON.parse(sessionStorage.getItem("questionList"));
  console.log("string data", questionListString);
  const questionObject = JSON.parse(questionListString);
  console.log(questionObject.question, "session ");
</script>
{% endblock %}
